.about-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.about-info-area {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--text-color);
    box-sizing: border-box;
}