    .navbar-full-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: var(--nav-bg);
        box-sizing: border-box;
    }
    .navbar-content-area {
        display: flex;
        flex-direction: column;
        padding: 8px 12px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .navbar-item-links-desktop {
        display: none;
    }


@media (min-width:734px) {
    .navbar-full-container {
        flex-direction: row;
        /* height: 60px; */
}
    .navbar-content-area {
        flex-direction: row;
        padding: 12px 16px;
}
    .navbar-item-links-mobile {
        display: none;
    }
}