.products-full-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%
}
.products-sidebar{
  height: fit-content;
  background-color: bisque;
}
.products-main-content-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
}
.products-main-heading {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.products-search-bar-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.products-search-bar {
  display: flex;
  width: 70%;
  height: 30px;
}
.products-display-area {
  display: flex;
  flex: 1 1 auto;
  padding: 12px 8px;
}
@media (min-width : 650px) {
  .products-full-container {
    flex-direction: row;
    height: 100%;
  }
  .products-sidebar {
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    width: 20%;
  }
  .products-main-heading {
    font-size: 24px;
    height: 60px;
  }
  .products-display-area {
    padding: 24px 16px;
  }
}