.full-product-details-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.product-details-content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  box-sizing: border-box;
}
.product-breadcrums {
  display: flex;
  width: 100%;
  height: auto;
  font-weight: 500;
  color: gray;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.product-details-image-wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0,0.01);
  border-radius: 16px;
  box-sizing: border-box;
}
.product-details-image {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  object-fit: contain;
  border-radius: 16px;
}
.product-details-information-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 8px;
  gap: 20px;
  box-sizing: border-box;
}
/* Main Product Info */
.product-details-main-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  box-sizing: border-box;
}
.product-details-info-id {
  color: gray;
}
.product-details-info-title {
  font-weight: bold;
  font-size: 22px;
}
.product-details-info-price {
    font-size: 20px;
    color: var(--product-prices-color);
}

/* Extra Product Info*/
.product-details-extra-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  box-sizing: border-box;
}
.product-details-extra-info-title {
  font-weight: bold;
  font-size: 18px;
}
.product-details-info-name {
  font-weight: bold;
}
.product-details-info-warranty,
.product-details-info-shipping,
.product-details-info-availability,
.product-details-info-description,
.product-details-info-return-policy {
  padding: 0 4px;
}
.product-details-info-availability,
.product-details-info-return-policy {
  color: rgb(141, 37, 37);
}
.product-details-quantity-updator-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 8px 24px;
  box-sizing: border-box;
}
.product-details-quantity-updator-btn {
  display: flex;
  color: var(--btn-txt);
  background-color: var(--btn-bg);
  border-radius: 4px;
  padding: 4px 8px;
}
.product-details-info-btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
}
.product-details-info-addToCart-btn,
.product-details-info-buyNow-btn {
  display: flex;
  color: var(--btn-txt);
  background-color: var(--btn-bg);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 12px 4px;
  width: 70%;
  font-weight: 500;
}

/* Reviews css part*/
.product-details-reviews-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  gap: 16px;
  box-sizing: border-box;
}
.product-details-reviews-title {
  font-size: 18px;
  font-weight: bold;
}
.product-details-review-info {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 16px;
  padding: 12px 16px;
  gap: 2px;
  box-sizing: border-box;
}
.product-details-reviewerName {
  font-weight: bold;
}
.product-details-review-rating {
  font-weight: bold;
}