.productCard-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 12px;
    /* height: 100%;
    max-height: 420px;
    max-width: 400px; */
    /* max-width: 350px; */
    background-color: var(--product-card-bg-color);
}
.product-image-wrapper {
    display: flex;
    padding: 8px 8px 4px;
    box-sizing: border-box;
}
.product-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    background-color: var(--card-img-bg);
}
.productCard-wrapper {
    text-decoration: none;
    color: inherit;
}
.productCard-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 8px;
    text-decoration: none;
    box-sizing: border-box;
}
.product-id {
    color: gray;
    font-size: 14px;
}
.product-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-align: center;
    font-weight: bold;
}
.product-price {
    color: var(--product-prices-color);
    font-weight: bold;
}

@media (min-width: 650px) {
    .productCard-container {
        border: 1.5px solid black;
        border-radius: 20px;
        /* max-width: 350px; */
        min-width: 0;
    }
    .product-image-wrapper {
        width: 100%;
        height: 250px;
        padding: 8px;
    }
    .product-title {
        font-size: 20px;
    }
    .product-price {
        font-size: 18px;
    }
    .product-brand {
        font-size: 18px;
    }
    
}