.sidebar-full-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--sidebar-filters-bg);

}
.sidebar-content-area {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
}
.sidebar-heading-area {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.sidebar-main-heading {
    display: flex;
    flex: 1 1 auto
}
.sidebar-close-btn-wrapper {
    display: flex;
    flex: 0 0 30px;
}
.sidebar-main-heading {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.sidebar-categories {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width : 650px) {
    .sidebar-full-container {
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .sidebar-content-area {
        box-sizing: border-box;
    }
    .sidebar-main-heading {
        font-size: 24px;
    }
    .sidebar-categories {
        gap: 12px;
    }
}