.testimonials-layout-full-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    min-width: 200px;
    max-width: 260px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.5);
    filter: drop-shadow(8px 8px 25px rgba(0,0,0,0.15));
    border-radius: 16px;
    aspect-ratio: 3/4;
    box-sizing: border-box;
}
.testimonials-image-wrapper {
    display: flex;
    width: 100%;
    height: 50%;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.testimonials-user-profile-pic {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-sizing: border-box;
}
.testimonials-user-name-section {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.testimonials-user-review-section {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}