.testimonials-layout-full-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 225px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.5);
    filter: drop-shadow(8px 8px 25px rgba(0,0,0,0.15));
    border-radius: 16px;
    box-sizing: border-box;
}
.testimonials-image-wrapper {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.testimonials-user-profile-pic {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}
.testimonials-user-name-section {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.testimonials-user-review-section {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}