.hero-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.hero-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 12px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.hero-text-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    box-sizing: border-box;
}
.hero-text--title {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.2rem;
    box-sizing: border-box;
}
.hero-text--title-line1,
.hero-text--title-line2 {
    display: flex;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    box-sizing: border-box;
}
.hero-text--title-line2 {
    background: linear-gradient(90deg, #8dbdf6, #033060);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text--description {
    display: flex;
    width: 100%;
    letter-spacing: 0.2px;
    color: #4b4b4b;
}
.hero-call-for-action-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    margin: 12px 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.hero-learn-more-btn,
.hero-buy-now-btn {
    display: flex;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: 500;
}
.hero-learn-more-btn {
    background-color: var(--btn-bg);
    color: var(--btn-txt);
}
.hero-buy-now-btn {
    display: flex;
    color: var(--btn-bg);
    text-decoration: none;
    border: 1px solid rgba(0,0,0,1);
    /* box-shadow: ; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    line-height: normal;
    font-size: inherit;
}
.hero-image-wrapper {
    display: flex;
    width: 100%;
    height: 65%;
}
.hero-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    rotate: 15deg;
    filter: drop-shadow(8px 8px 25px rgba(0, 0, 0, 0.15));
    box-sizing: border-box;
}

@media (min-width: 734px) {
    .hero-content-area {
        flex-direction: row;
        max-width: 1200px;
        height: 500px;
    }
    .hero-text-area {
        height: 100%;
        justify-content: center;
    }
    .hero-text--title-line1 {
        font-size: 40px;
        line-height: 1.2;
    }
    .hero-text--title-line2 {
        font-size: 42px;
        line-height: 1.2;
    }
    .hero-text--description {
        font-weight: 500;
        font-size: 20px;
    }
    .hero-call-for-action-btn {
        justify-content: flex-start;
        gap: 16px;
    }
    .hero-learn-more-btn,
    .hero-buy-now-btn {
        padding: 8px 16px;
        font-weight: 500;
    }
    .hero-buy-now-btn {
        border-radius: 20px;
    }
    .hero-learn-more-btn:hover {
        background-color: var(--btn-hover-bg);
    }
    .hero-buy-now-btn:hover {
        background-color: var(--btn-bg);
        color: var(--btn-txt);
        transition: all ease-in 0.10s;
    }
    .hero-image-wrapper {
        height: 100%;
    }
}