.spotlight-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 14px 10px;
    gap: 12px;
    box-sizing: border-box;
}
.spotlight-left-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border-radius: 16px;
    box-sizing: border-box;
}
.spotlight-left-product-redirect-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
.spotlight-product-image {
    display: flex;
    width: 100%;
    height: 80%;
    filter: drop-shadow(8px 8px 25px rgba(0,0,0,0.15));
    object-fit: contain;
    box-sizing: border-box;
}
.spotlight-product-label {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
}
.spotlight-supporting-products {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap: 8px;
    box-sizing: border-box;
}
.supporting-product-top,
.supporting-product-bottom {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border-radius: 16px;
    box-sizing: border-box;
}
.supporting-product-redirect-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
.spotlight-supporting-product-top-image,
.spotlight-supporting-product-bottom-image {
    display: flex;
    width: 100%;
    height: 85%;
    filter: drop-shadow(8px 8px 25px rgba(0,0,0,0.15));
    object-fit: contain;
    box-sizing: border-box;
}
.spotlight-supporting-product-top-label,
.spotlight-supporting-product-bottom-label {
    /* display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box; */
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;

    /* Chrome/Safari/Edge */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    /* Firefox fallback */
    line-height: 1.2em;
    max-height: calc(1.2em * 2);

    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width:734px) {
    .spotlight-full-container {
        padding: 16px 12px;
    }
}