.top-category-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: var(--section-alt-bg);
    box-sizing: border-box;
}
.top-category-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    box-sizing: border-box;
}
.top-category-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    gap: 12px;
    box-sizing: border-box;
}
.top-category-card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 16px;
    box-sizing: border-box;
}
.top-category-card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}
.top-category-image {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 4px;
    object-fit: contain;
    filter: drop-shadow(12px 4px 18px rgba(0,0,0,0.16));
    box-sizing: border-box;
}
.top-category-image-label {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
}

@media (min-width:734px) {
    .top-category-full-container {
        padding: 32px 0;
    }
    .top-category-title {
        font-size: 28px;
    }
    .top-category-content-area {
        flex-direction: row;
        max-width: 1200px;
    }
    .top-category-card {
        height: 325px;
    }
    .top-category-image {
        padding: 12px;
    }
    .top-category-image-label {
        font-size: 20px;
    }

}