.top-category-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: var(--section-alt-bg);
    box-sizing: border-box;
}
.top-category-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    box-sizing: border-box;
}
.top-category-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}
.top-category-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 16px;
    box-sizing: border-box;
}
.top-category-image {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 4px;
    object-fit: contain;
    box-sizing: border-box;
}
.top-category-image-label {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
}