.top-products-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: white;
    box-sizing: border-box;
}
.top-products-title {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    box-sizing: border-box;
}
.top-products-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    gap: 12px;
    box-sizing: border-box;
}
.top-products-section {
    display: flex;
    width: 100%;
    height: 550px;
    border: 1px solid black;
    border-radius: 16px;
    box-sizing: border-box;
}

@media (min-width:734px) {
    .top-products-full-container {
        padding: 32px 0;
    }
    .top-products-title {
        font-size: 28px;
        height: 50px;
    }
    .top-products-content-area {
        max-width: 1200px;
        flex-direction: row;
    }
    .top-products-section {
        height: auto;
        max-height: 650px;  /*Putting a cap to the height of the card on desktops*/
    }
}